/* src/index.css */
body {
  font-family: 'Neutra Text', sans-serif;
}

h1 {
  color: #322625;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ebebeb;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #fdc936;
}

tr:nth-child(even) {
  background-color: #c0e3e5;
}

select, input {
  margin: 10px;
}